body {  
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./assets/Camo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e6e6e6;
/*
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1b2a1b; 
  color: #e6e6e6;   */
}

h1 {
  text-align: center;
  color: #d4af37; /* gold */
  margin-top: 20px;
}

div {
  text-align: center;
}

form, .search-bar {
  margin: 20px;
}

input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2e3b2e;
  color: white;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  background-color: #556b2f; /* olive green */
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #6b8e23;
}
#root {
  min-height: 100vh;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.65);

  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 1px solid #444;
  border-radius: 8px;
  margin: 15px auto;
  padding: 15px;
  width: 300px;

  background-color: rgba(46, 59, 46, 0.9); /* semi-transparent */
  backdrop-filter: blur(3px);

  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}
